.user_input {
    /* position:absolute;
    top:100px; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

p,.btn{
    /* position:absolute;
        top:100px; */
    display: flex;
    justify-content: center;
}

label {
    padding: 7px;
}

/* .btn {
    display: flex;
    justify-content: center;
} */

.isActive {
    font-size: 25px;
    color :blueviolet
}

.inActive {
    font-size:20px ;
    color: burlywood;
}